# Netflix Datasets EDA and Cleaning

### Importing Libraries

In [1]:
import pandas as pd 
import plotly.express as px
import numpy as np
from datasist.structdata import detect_outliers
from sklearn.impute import KNNImputer,SimpleImputer

In [2]:
raw_df=pd.read_csv('../data/raw/netflix_titles.csv')

In [3]:
df=raw_df.copy()

In [4]:
df

     show_id  ...                                        description
0         s1  ...  As her father nears the end of his life, filmm...
1         s2  ...  After crossing paths at a party, a Cape Town t...
2         s3  ...  To protect his family from a powerful drug lor...
3         s4  ...  Feuds, flirtations and toilet talk go down amo...
4         s5  ...  In a city of coaching centers known to train I...
...      ...  ...                                                ...
8802   s8803  ...  A political cartoonist, a crime reporter and a...
8803   s8804  ...  While living alone in a spooky town, a young g...
8804   s8805  ...  Looking to survive in a world taken over by zo...
8805   s8806  ...  Dragged from civilian life, a former superhero...
8806   s8807  ...  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [8]:
df.isnull().sum()/len(df)*100

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

In [10]:
cols=['director','cast','country']
for col in cols:
    df[col]=df[col].fillna('unknown')
df.isnull().sum()/len(df)*100

show_id         0.000000
type            0.000000
title           0.000000
director        0.000000
cast            0.000000
country         0.000000
date_added      0.113546
release_year    0.000000
rating          0.045418
duration        0.034064
listed_in       0.000000
description     0.000000
dtype: float64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()/len(df)*100

show_id         0.0
type            0.0
title           0.0
director        0.0
cast            0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in       0.0
description     0.0
dtype: float64

In [13]:
df.show_id.nunique()==len(df)

True

In [14]:
df.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [16]:
df['date_added']=pd.to_datetime(df['date_added'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   datetime64[ns]
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 892.7+ KB

In [18]:
df['year']=df['date_added'].dt.year
df['month']=df['date_added'].dt.month
df['month_name']=df['date_added'].dt.month_name()

In [19]:
df

     show_id     type                  title  ...  year month month_name
0         s1    Movie   Dick Johnson Is Dead  ...  2021     9  September
1         s2  TV Show          Blood & Water  ...  2021     9  September
2         s3  TV Show              Ganglands  ...  2021     9  September
3         s4  TV Show  Jailbirds New Orleans  ...  2021     9  September
4         s5  TV Show           Kota Factory  ...  2021     9  September
...      ...      ...                    ...  ...   ...   ...        ...
8802   s8803    Movie                 Zodiac  ...  2019    11   November
8803   s8804  TV Show            Zombie Dumb  ...  2019     7       July
8804   s8805    Movie             Zombieland  ...  2019    11   November
8805   s8806    Movie                   Zoom  ...  2020     1    January
8806   s8807    Movie                 Zubaan  ...  2019     3      March

[8790 rows x 15 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   datetime64[ns]
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  year          8790 non-null   int64
 13  month         8790 non-null   int64
 14  month_name    8790 non-null   object
dtypes: datetime64[ns](1), int64(3), object(11)
memory usage: 1.1+ MB

In [21]:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [28]:
(df[df['type']=='Movie'].duration.apply(lambda x: x.split(' ')[1])=='min').value_counts()

True    6126
Name: duration, dtype: int64

In [29]:
len(df[df['type']=='Movie'])

6126

In [23]:
df[df['type']=='TV Show'].duration

1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
5        1 Season
          ...
8795    2 Seasons
8796    2 Seasons
8797    3 Seasons
8800     1 Season
8803    2 Seasons
Name: duration, Length: 2664, dtype: object

In [31]:
df['duration']=df['duration'].apply(lambda x: x.split(' ')[0])

> duration col contains number of minutes if show type is Movie else its number of seasons

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   datetime64[ns]
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  year          8790 non-null   int64
 13  month         8790 non-null   int64
 14  month_name    8790 non-null   object
dtypes: datetime64[ns](1), int64(3), object(11)
memory usage: 1.1+ MB

In [33]:
df['duration']=df['duration'].astype('int')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   datetime64[ns]
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   int32
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  year          8790 non-null   int64
 13  month         8790 non-null   int64
 14  month_name    8790 non-null   object
dtypes: datetime64[ns](1), int32(1), int64(3), object(10)
memory usage: 1.0+ MB

In [35]:
df.to_csv('../data/processed/netflix_dataset_cleaned.csv')

In [36]:
df.show_id.nunique()

8790

In [37]:
df.type.value_counts()

Movie      6126
TV Show    2664
Name: type, dtype: int64

In [38]:
df.country.nunique()

749

In [40]:
df.release_year.min(),df.release_year.max()

(1925, 2021)

In [42]:
df[df.type=='Movie'][['release_year','year','month','duration']].describe().transpose()

               count         mean        std     min     25%     50%     75%     max
release_year  6126.0  2013.120144   9.681723  1942.0  2012.0  2016.0  2018.0  2021.0
year          6126.0  2018.851126   1.561173  2008.0  2018.0  2019.0  2020.0  2021.0
month         6126.0     6.609370   3.452541     1.0     4.0     7.0    10.0    12.0
duration      6126.0    99.584884  28.283225     3.0    87.0    98.0   114.0   312.0

In [43]:
df[df.type=='TV Show'][['release_year','year','month','duration']].describe().transpose()

               count         mean       std     min     25%     50%     75%     max
release_year  2664.0  2016.627628  5.735194  1925.0  2016.0  2018.0  2020.0  2021.0
year          2664.0  2018.925300  1.600804  2008.0  2018.0  2019.0  2020.0  2021.0
month         2664.0     6.762763  3.396231     1.0     4.0     7.0    10.0    12.0
duration      2664.0     1.751877  1.550622     1.0     1.0     1.0     2.0    17.0